<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.enseeiht.yaoi.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="fr.enseeiht.yaoi.commands.category"
            name="Validate"
            id="fr.enseeiht.yaoi.commands.validate">
      </command>
      <command
            categoryId="fr.enseeiht.yaoi.commands.category"
            id="fr.enseeiht.yaoi.commands.load"
            name="Load">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.enseeiht.yaoi.ui.handlers.Validate"
            commandId="fr.enseeiht.yaoi.commands.validate">
      </handler>
      <handler
            class="fr.enseeiht.yaoi.ui.handlers.Load"
            commandId="fr.enseeiht.yaoi.commands.load">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecore.presentation.ReflectiveEditorID?after=additions">
         <menu
               id="fr.enseeiht.yaoi.ui.mocl.menu"
               label="MOCL">
            <command
                  commandId="fr.enseeiht.yaoi.commands.load"
                  id="fr.enseeiht.yaoi.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <test
                           forcePluginActivation="true"
                           property="fr.enseeiht.yaoi.ui.isecore">
                     </test>
                  </and>
               </with>
            </visibleWhen>
            <command
                  commandId="fr.enseeiht.yaoi.commands.validate"
                  id="fr.enseeiht.yaoi.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.enseeiht.yaoi.ui.testers.IsEcore"
            id="fr.enseeiht.yaoi.ui.isEcore"
            namespace="fr.enseeiht.yaoi.ui"
            properties="isecore"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
